@using ImageSharingWithModel.Controllers

@model ImageSharingWithModel.Models.ImageView

@{
    ViewBag.Title = "Image Details";
}

<h2>@ViewBag.Title</h2>

<p><img src="~/@(ImagesController.imageContextPath(Model.Id))" /></p>

<p>Image id: @Model.Id</p>

<p>Tag: @Model.TagName</p>

<p>Caption: @Model.Caption</p>

<p>Description: <br />@Model.Description</p>

<p>Date taken: @Model.DateTaken.ToShortDateString()</p>

<p>Uploader: @Model.Username</p>