@model IEnumerable<ImageSharingWithCloudStorage.Models.LogEntry>

@{
    ViewBag.Title = "Image Viewing Activity";
}

<h2>@ViewBag.Title</h2>

<table class="gridTable">
    <tr>
        <th>Caption</th>
        <th>User</th>
        <th>Time</th>
    </tr>

    @foreach (var entry in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@entry.ImageId">@entry.Caption</a>
            </td>
            <td>
                @entry.Username
            </td>
            <td>
                @string.Format("{0:t}", entry.EntryDate)
            </td>
        </tr>
    }
</table>