@model ImageSharingWithUpload.Models.Image

@{
    ViewBag.Title = "Image Details";
}

<h2>@ViewBag.Title</h2>

<p><img src="@Url.Content("~/data/images/"+@Model.Id+".jpg")" /></p>

<p>Image id: @Model.Id</p>

<p>Caption: @Model.Caption</p>

<p>Description: <br />@Model.Description</p>

<p>Date taken: @Model.DateTaken.ToShortDateString()</p>

<p>Uploader: @Model.Userid</p>